In [1]:
import sys
sys.path.append("..")
import torch
from utils import DATA_HOME
from lstm.sales_data import Sales_Dataset

sd = Sales_Dataset(f"{DATA_HOME}\sales_data")
len(sd)

90936

In [2]:
import numpy as np

tr = sd.TR
# tr.sales += 1.0
# promo = sd.TR.onpromotion[sd.TR.onpromotion != 0]
# promo.std(), promo.mean(), promo.min(), promo.max()
# tr.sales.mean(), tr.sales.std(), tr.sales.min(), tr.sales.max()
sd.TR.sort_values(["store_nbr", "family", "date"], inplace=True)
# print(tr)
# ts[ts.date == "201-11-05"], len(set(sd.TR.store_nbr)
tr.iloc[200:300], tr.iloc[:10], tr.sales.std(), tr.sales.mean(),

(            id        date  store_nbr      family     sales  onpromotion
 356400  356400  2013-07-20          1  AUTOMOTIVE -1.533930    -1.265827
 358182  358182  2013-07-21          1  AUTOMOTIVE  0.000000    -1.265827
 359964  359964  2013-07-22          1  AUTOMOTIVE  0.646627    -1.265827
 361746  361746  2013-07-23          1  AUTOMOTIVE  0.389465    -1.265827
 363528  363528  2013-07-24          1  AUTOMOTIVE  0.828693    -1.265827
 ...        ...         ...        ...         ...       ...          ...
 525690  525690  2013-10-23          1  AUTOMOTIVE -1.864785    -1.265827
 527472  527472  2013-10-24          1  AUTOMOTIVE  0.646627    -1.265827
 529254  529254  2013-10-25          1  AUTOMOTIVE  0.000000    -1.265827
 531036  531036  2013-10-26          1  AUTOMOTIVE -0.646627    -1.265827
 532818  532818  2013-10-27          1  AUTOMOTIVE -2.397895    -1.265827

 [100 rows x 6 columns],
           id        date  store_nbr      family     sales  onpromotion
 0          0  2013-01-01          1  AUTOMOTIVE       NaN    -1.265827
 1782    1782  2013-01-02          1  AUTOMOTIVE  3.044522    -1.265827
 3564    3564  2013-01-03          1  AUTOMOTIVE  0.389465    -1.265827
 5346    5346  2013-01-04          1  AUTOMOTIVE  0.000000    -1.265827
 7128    7128  2013-01-05          1  AUTOMOTIVE  0.497838    -1.265827
 8910    8910  2013-01-06          1  AUTOMOTIVE -0.887303    -1.265827
 10692  10692  2013-01-07          1  AUTOMOTIVE -3.044522    -1.265827
 12474  12474  2013-01-08          1  AUTOMOTIVE  3.044522    -1.265827
 14256  14256  2013-01-09          1  AUTOMOTIVE  0.000000    -1.265827
 16038  16038  2013-01-10          1  AUTOMOTIVE  0.000000    -1.265827,
 1.104406953567631,
 1.1443240630137217e-06)

In [3]:
import pandas as pd
OG_TR = pd.read_csv(f"{DATA_HOME}/sales_data/train.csv", index_col=False)
OG_TS = pd.read_csv(f"{DATA_HOME}/sales_data/transactions.csv", index_col=False) 
OG_TR.sort_values(["store_nbr", "family", "date"], inplace=True)
# OG_TR.sales = np.log(OG_TR.sales / OG_TR.sales.shift(1))
OG_TR[200:300], OG_TR[:10],

(            id        date  store_nbr      family  sales  onpromotion
 356400  356400  2013-07-20          1  AUTOMOTIVE    1.0            0
 358182  358182  2013-07-21          1  AUTOMOTIVE    1.0            0
 359964  359964  2013-07-22          1  AUTOMOTIVE    2.0            0
 361746  361746  2013-07-23          1  AUTOMOTIVE    3.0            0
 363528  363528  2013-07-24          1  AUTOMOTIVE    7.0            0
 ...        ...         ...        ...         ...    ...          ...
 525690  525690  2013-10-23          1  AUTOMOTIVE    1.0            0
 527472  527472  2013-10-24          1  AUTOMOTIVE    2.0            0
 529254  529254  2013-10-25          1  AUTOMOTIVE    2.0            0
 531036  531036  2013-10-26          1  AUTOMOTIVE    1.0            0
 532818  532818  2013-10-27          1  AUTOMOTIVE    0.0            0

 [100 rows x 6 columns],
           id        date  store_nbr      family  sales  onpromotion
 0          0  2013-01-01          1  AUTOMOTIVE    0.0            0
 1782    1782  2013-01-02          1  AUTOMOTIVE    2.0            0
 3564    3564  2013-01-03          1  AUTOMOTIVE    3.0            0
 5346    5346  2013-01-04          1  AUTOMOTIVE    3.0            0
 7128    7128  2013-01-05          1  AUTOMOTIVE    5.0            0
 8910    8910  2013-01-06          1  AUTOMOTIVE    2.0            0
 10692  10692  2013-01-07          1  AUTOMOTIVE    0.0            0
 12474  12474  2013-01-08          1  AUTOMOTIVE    2.0            0
 14256  14256  2013-01-09          1  AUTOMOTIVE    2.0            0
 16038  16038  2013-01-10          1  AUTOMOTIVE    2.0            0)