In [1]:
import sys
sys.path.append("..")
import torch
from utils import DATA_HOME
from lstm.sales_data import Sales_Dataset

sd = Sales_Dataset(f"{DATA_HOME}\sales_data")
len(sd)

90936

In [2]:
tr, ts, o = sd[200]
print(len(tr), len(ts),  len(o))
# len(sd.S), len(set(tr.family))
tr, len(sd.S)
series = sd.S.city
series.min(), series.max(), series.mean(), series.std(), series.median()

33 0 1

c:\Users\sxing\SOTA\lstm\..\lstm\sales_data.py:67: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ts = self.TS[(self.TS.date == date) & (self.TR.store_nbr == store_nbr)]

(-2.6420114798940335,
 0.8845813576056518,
 -1.0000000000000002,
 1.0000000000000002,
 -1.5504470301917501)

In [5]:
import numpy as np

tr = sd.TR
# tr.sales += 1.0
# promo = sd.TR.onpromotion[sd.TR.onpromotion != 0]
# promo.std(), promo.mean(), promo.min(), promo.max()
# tr.sales.mean(), tr.sales.std(), tr.sales.min(), tr.sales.max()
sd.TR.sort_values(["store_nbr", "family", "date"], inplace=True)
# print(tr)
# ts[ts.date == "201-11-05"], len(set(sd.TR.store_nbr)
tr.iloc[200:300], tr.iloc[:10], tr.sales.std(), tr.sales.mean(),

(            id        date  store_nbr    family     sales  onpromotion
 356407  356407  2013-07-20          1 -2.680336 -0.464346    -1.265827
 358189  358189  2013-07-21          1 -2.680336 -0.831635    -1.265827
 359971  359971  2013-07-22          1 -2.680336  0.962354    -1.265827
 361753  361753  2013-07-23          1 -2.680336  0.191719    -1.265827
 363535  363535  2013-07-24          1 -2.680336  0.171981    -1.265827
 ...        ...         ...        ...       ...       ...          ...
 525697  525697  2013-10-23          1 -2.680336  0.414498    -1.265827
 527479  527479  2013-10-24          1 -2.680336 -0.479939    -1.265827
 529261  529261  2013-10-25          1 -2.680336  0.028826    -1.265827
 531043  531043  2013-10-26          1 -2.680336 -0.060392    -1.265827
 532825  532825  2013-10-27          1 -2.680336 -0.704340    -1.265827

 [100 rows x 6 columns],
           id        date  store_nbr    family     sales  onpromotion
 7          7  2013-01-01          1 -2.680336       NaN    -1.265827
 1789    1789  2013-01-02          1 -2.680336  9.268704    -1.265827
 3571    3571  2013-01-03          1 -2.680336 -0.237370    -1.265827
 5353    5353  2013-01-04          1 -2.680336 -0.010823    -1.265827
 7135    7135  2013-01-05          1 -2.680336 -0.019534    -1.265827
 8917    8917  2013-01-06          1 -2.680336 -1.148926    -1.265827
 10699  10699  2013-01-07          1 -2.680336  1.170876    -1.265827
 12481  12481  2013-01-08          1 -2.680336 -0.002415    -1.265827
 14263  14263  2013-01-09          1 -2.680336  0.091224    -1.265827
 16045  16045  2013-01-10          1 -2.680336 -0.282508    -1.265827,
 1.1044538930770844,
 1.4643834155277257e-06)

In [3]:
import pandas as pd
OG_TR = pd.read_csv(f"{DATA_HOME}/sales_data/train.csv", index_col=False)
OG_TS = pd.read_csv(f"{DATA_HOME}/sales_data/transactions.csv", index_col=False) 
OG_TR.sort_values(["store_nbr", "family", "date"], inplace=True)
# OG_TR.sales = np.log(OG_TR.sales / OG_TR.sales.shift(1))
OG_TR[200:300], OG_TR[:10],

(            id        date  store_nbr      family  sales  onpromotion
 356400  356400  2013-07-20          1  AUTOMOTIVE    1.0            0
 358182  358182  2013-07-21          1  AUTOMOTIVE    1.0            0
 359964  359964  2013-07-22          1  AUTOMOTIVE    2.0            0
 361746  361746  2013-07-23          1  AUTOMOTIVE    3.0            0
 363528  363528  2013-07-24          1  AUTOMOTIVE    7.0            0
 ...        ...         ...        ...         ...    ...          ...
 525690  525690  2013-10-23          1  AUTOMOTIVE    1.0            0
 527472  527472  2013-10-24          1  AUTOMOTIVE    2.0            0
 529254  529254  2013-10-25          1  AUTOMOTIVE    2.0            0
 531036  531036  2013-10-26          1  AUTOMOTIVE    1.0            0
 532818  532818  2013-10-27          1  AUTOMOTIVE    0.0            0

 [100 rows x 6 columns],
           id        date  store_nbr      family  sales  onpromotion
 0          0  2013-01-01          1  AUTOMOTIVE    0.0            0
 1782    1782  2013-01-02          1  AUTOMOTIVE    2.0            0
 3564    3564  2013-01-03          1  AUTOMOTIVE    3.0            0
 5346    5346  2013-01-04          1  AUTOMOTIVE    3.0            0
 7128    7128  2013-01-05          1  AUTOMOTIVE    5.0            0
 8910    8910  2013-01-06          1  AUTOMOTIVE    2.0            0
 10692  10692  2013-01-07          1  AUTOMOTIVE    0.0            0
 12474  12474  2013-01-08          1  AUTOMOTIVE    2.0            0
 14256  14256  2013-01-09          1  AUTOMOTIVE    2.0            0
 16038  16038  2013-01-10          1  AUTOMOTIVE    2.0            0)